@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
.code-editor{background-color:#363636;color:#eee;display:block;caret-color:#eee;border-radius:4px;backface-visibility:hidden;overflow:auto;padding:1em;box-sizing:border-box;white-space:pre;font-size:15px;font-family:Roboto Mono,monospace;tab-size:2;line-height:1.5;outline:none}.code-editor::selection,.code-editor ::selection{background:rgba(255,255,255,0.1)}.code-editor .namespace{opacity:.7}.atrule,.constant,.function,.important,.boolean,.keyword,.symbol,.id{color:#c792ea}.attr-name,.builtin,.class{color:#ffcb6b}.comment,.doctype,.prolog{color:#616161}.inserted,.property,.cdata,.char{color:#80cbc4}.operator,.punctuation{color:#89ddff}.class-name,.hexcode,.regex{color:#f2ff00}.attr-value,.attribute,.pseudo-class,.pseudo-element,.string{color:#a5e844}.number,.unit{color:#fd9170}.selector,.variable,.deleted,.entity,.tag,.url{color:#f66}.important,.id{font-weight:bold}
body {
  margin: 10px;
  font-family: Roboto, sans-serif;
}
p {
  margin: 10px 0;
}
#preview {
  padding: 10px;
  min-width: 300px;
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
}
#install {
  display: flex;
  flex-wrap: wrap;
  margin: -5px -5px;
}
#install .code-editor {
  flex: 1;
  margin: 5px;
  min-width: 300px;
}
#props {
  margin: 0;
  padding-left: 25px;
}
#props .code-editor {
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
}
#props li {
  margin: 5px 0;
}
header {
  text-align: center;
}
header h1 {
  margin: 0;
}
header p {
  color: #555;
}

