
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

body
	margin: 10px
	font-family: Roboto, sans-serif

p
	margin: 10px 0

.code-editor.inline
	padding: 3px
	display: inline-block
	vertical-align: middle
		
#install
	display: flex
	flex-wrap: wrap
	margin: -5px -5px
	
	code
		flex: 1
		margin: 5px
		
		min-width: 300px

#props
	margin: 0
	padding-left: 25px
	li
		margin: 5px 0

header
	text-align: center

	h1
		margin: 0
		
	p
		color: #555
		
