
@import 'rmce'
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

body
	margin: 10px
	font-family: Roboto, sans-serif

p
	margin: 10px 0

#preview
	padding: 10px
	min-width: 300px
	flex: 1
	display: flex
	align-self: center
	justify-content: center
	overflow: hidden

#install
	display: flex
	flex-wrap: wrap
	margin: -5px -5px

	.rmce
		flex: 1
		margin: 5px

		min-width: 300px

.error
	border: 2px solid red
	padding: 8px
	border-radius: 8px

	&::before
		content: 'Error: '

header
	text-align: center

	h1
		margin: 0

	p
		color: #555

